
.registration-div{
    margin: 13rem 10rem 0 10rem;
}

.registration-div h2 {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px 15px;
}

#registration-input-div {
    display: flex;
    padding: 0rem 5%;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}
.registartion-unit{
    width: 48%;
    font-size: 1rem;
    color: darkgrey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.registartion-unit label{
    padding-bottom: 10px;
}
.registartion-unit input{
    height: 2.5rem;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1rem;
}
.registration-buttons-div{
    width: 100%;
    padding-top: 2.3rem;
    display: flex;padding-bottom: 1rem;
    justify-content: flex-end;
}
.registration-buttons-div button{
    width: 23.2%;
    height: 2.5rem;
    margin-right: 1rem;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    color: darkgrey;
}
.registration-buttons-div button:last-of-type{
    margin-right: 0;
    background-color: darkseagreen;
    color: white;
}

